In [28]:
#Run this cell (Do not make any changes)
import pandas as pd
df_users = pd.DataFrame({
    "user_id": [234, 235, 236, 237, 237, 238, 239, 240, 241, 242, 242],
    "Name": ["Tom", "Alex--", "..Thomas", "John", "John", "Paul/", "Emma9", "Joy", "Samantha_", "Emily", "Emily"],
    "Last_name": ["Smith", "johnson", "brown", "Davis", "Davis", "None", "wilson", "Thompson", "Lee", "Johnson", "Johnson"],
    "age": [23, 32, 45, 22, 22, 50, 34, 47, 28, 19, 19],
    "Phone": ["555/123/4567", "333-234-5678", "444_456_7890", "111-222-3333", "111-222-3333", None, "333/987/4567", "222/345_987", "(777) 987-6543", "777-888-9999", "777-888-9999"],
    "Email": ["smith@email.com", "johnson@hotmail.com", "brown@email.com", "davis@mail.com", "davis@mail.com", "John@gmail.com", "wilson@mail.com", "thompson@email.com", "lee@email.com", "emily@hotmail.com", "emily@hotmail.com"],
    "Not_Useful_column": [None, None, None, None, None, None, None, None, None, None, None]
})

print(df_users)

    user_id       Name Last_name  age           Phone                Email  \
0       234        Tom     Smith   23    555/123/4567      smith@email.com
1       235     Alex--   johnson   32    333-234-5678  johnson@hotmail.com
2       236   ..Thomas     brown   45    444_456_7890      brown@email.com
3       237       John     Davis   22    111-222-3333       davis@mail.com
4       237       John     Davis   22    111-222-3333       davis@mail.com
5       238      Paul/      None   50            None       John@gmail.com
6       239      Emma9    wilson   34    333/987/4567      wilson@mail.com
7       240        Joy  Thompson   47     222/345_987   thompson@email.com
8       241  Samantha_       Lee   28  (777) 987-6543        lee@email.com
9       242      Emily   Johnson   19    777-888-9999    emily@hotmail.com
10      242      Emily   Johnson   19    777-888-9999    emily@hotmail.com

   Not_Useful_column
0               None
1               None
2               None
3               None
4               None
5               None
6               None
7               None
8               None
9               None
10              None

In [29]:
#Delete duplicated rows
df_users = df_users.drop_duplicates()

In [30]:
#Delete unnecessary columns
df_users = df_users.drop(columns = 'Not_Useful_column')

In [31]:
#Correct syntax errors in columns
df_users['Name'] = df_users['Name'].apply(lambda x : ''.join([c for c in x if c.isalpha()]))
df_users['Last_name'] = df_users['Last_name'].str.capitalize()

In [32]:
#Delete rows with None values
df_users = df_users.dropna()

In [33]:
#Set a unique pattern for a column
df_users['Phone'] = df_users['Phone'].apply(lambda x : ''.join([c for c in x if c.isdigit()]))
df_users['Phone'] = df_users['Phone'].apply(lambda x : f'{x[:3]}-{x[3:6]}-{x[6:]}')

In [34]:
df_users

   user_id      Name Last_name  age         Phone                Email
0      234       Tom     Smith   23  555-123-4567      smith@email.com
1      235      Alex   Johnson   32  333-234-5678  johnson@hotmail.com
2      236    Thomas     Brown   45  444-456-7890      brown@email.com
3      237      John     Davis   22  111-222-3333       davis@mail.com
6      239      Emma    Wilson   34  333-987-4567      wilson@mail.com
7      240       Joy  Thompson   47   222-345-987   thompson@email.com
8      241  Samantha       Lee   28  777-987-6543        lee@email.com
9      242     Emily   Johnson   19  777-888-9999    emily@hotmail.com

In [35]:
#Conclusion
#Data cleaning is a very important step before starting to work with a dataset in data science or machine learning,
#it ensures that the data has no syntax errors, None or NaN values, duplicated rows, unnecessary columns, and many more things.
#A dataset can be clean in many ways not just the ones seen in this article